<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928794507026-a2uj96p95199ldmvs1a2muctapbvavsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928794507026-a2uj96p95199ldmvs1a2muctapbvavsr</string>
	<key>API_KEY</key>
	<string>AIzaSyD09yMuDSfN9WlIXgQIHoPPgranrXLfhNs</string>
	<key>GCM_SENDER_ID</key>
	<string>928794507026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitchenCalculator</string>
	<key>PROJECT_ID</key>
	<string>coocingcalc</string>
	<key>STORAGE_BUCKET</key>
	<string>coocingcalc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928794507026:ios:4de455a51dc2704161a5cb</string>
</dict>
</plist>